﻿.RegRow
{
    width: 100%;
    height: 10%;
}
.RegCol
{
    width: 50%;
    height: 100%;
    float:left;
}
#RegForm #Submit
{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    position:relative;
}
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    text-align:left;
    font-size:14px;
}
.ui-autocomplete-loading {
    background: white url("/images/wait.gif") right center no-repeat ;
}
.RadioDiv
{
    float:left;
}