﻿{% extends 'universal.html' %}
{% block head %}
    <link rel="stylesheet" href="/stylesheets/register.css">
    <script src="/js/registration.js"></script>
{% endblock %}
{% block main %}
        <h1>{{title}}</h1>
<p>Welcome to Digitanimals ! (Beta, very Beta !)</p>
<p>Sign Up ! It's free and don't hurt !</p>


<div style="width:402px; height:266px" id="RegForm">
    <div class="RegRow">
        <div class="RegCol">
            Your name ?
        </div>
        <div class="RegCol">
            <input id="Name" type="Text" />
        </div>
    </div>
    <div class="RegRow">
        <div class="RegCol">
            Your city ?
        </div>
        <div class="RegCol">
            <input class="ff_elem" type="text" name="ff_nm_fromLoc[]" value="" id="Location"/>
        </div>
    </div>
    <div class="RegRow">
        <div class="RegCol">
            Gender ?
        </div>
        <div class="RegCol">
            <div class="RadioDiv"><input type="radio" name="Gender" value="M"> Male</div>
            <div class="RadioDiv"><input type="radio" name ="Gender" value="F"> Female</div>
        </div>
    </div>
    <div class="RegRow">
        <div class="RegCol">
            Date of Birth ?
        </div>
        <div class="RegCol">
            <input id="DateOfBirth" type="Text" />
        </div>
    </div>
    <div class="RegRow">
        <div class="RegCol">
            Your E-Mail ?
        </div>
        <div ="Email" class="RegCol">
            <input id="Email" type="Text" />
        </div>
    </div>
    <div class="RegRow">
        <div class="RegCol">
            Usual Role ?</div>
        <div class="RegCol">
            <input id="Role" type="Text" />
        </div>
    </div>

    <div class="RegRow">
        <div class="RegCol">
            Your Password:
        </div>
        <div class="RegCol">
            <input type="Password" id="Password1" />
        </div>
    </div>

    <div class="RegRow">
        <div class="RegCol">
            Password one more time:</div>
        <div class="RegCol">
            <input type="Password" id="Password2" />
        </div>
    </div>
    <input type="button" id="Submit" value="Register Me" onclick="CreateUser();" />
</div>


</body>
{% endblock %}