﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/jquery-ui-1.10.4.css">
    <link rel="stylesheet" href="/stylesheets/universal.css">
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-ui-1.10.4.js"></script>
    {% block head %}

    {% endblock %}
</head>
<body>
    {% block main %}

    {% endblock %}
</body>
</html>